<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="mail.server" value="smtp.sendgrid.net" />
    <add key="mail.username" value="" />
    <add key="mail.password" value="" />
  </appSettings>

  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.webServer>
    <directoryBrowse enabled="false" />
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />

    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="/customerrors/404/" responseMode="ExecuteURL" />
    </httpErrors>

    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>

    <rewrite>
      <rules>
        <rule name="Remove www from domain name" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
          </conditions>
          <action type="Redirect" url="http://{ToLower:{C:2}/{R:1}}" redirectType="Permanent" />
        </rule>
        <rule name="Remove default document" stopProcessing="true">
          <match url="(.*)default.aspx" />
          <action type="Redirect" redirectType="Permanent" url="{ToLower:{R:1}}" />
        </rule>
        <rule name="Remove index document" stopProcessing="true">
          <match url="(.*)index.html" />
          <action type="Redirect" redirectType="Permanent" url="{ToLower:{R:1}}" />
        </rule>
        <rule name="Convert to lower case" stopProcessing="true">
          <match url="[A-Z]" ignoreCase="false" />
          <action type="Redirect" redirectType="Permanent" url="{ToLower:{URL}}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>